<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Mnist</title>

    <style>
        canvas {
            border: 1px;
            border-color: black;
            border-style: dashed;
            margin: 3rem;

        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">MNIST Handwritten Digit Classifier</h1>
        <p class="lead">This is a simple ML web app.</p>
        <hr class="my-4">
    </div>

    <div class="row">
        <div class='col-md-3'>
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Draw here</h5>
                    <canvas id="draw" width="128px" height="128px">
                        Your browser doesn't support canvas:(
                    </canvas>
                    <button type="button" class="btn btn-outline-secondary" id="clearcanvas">Clear</button>
                    <button type="button" class="btn btn-secondary" id="predict">Predict</button>

                </div>
            </div>

        </div>

        <div class='col-md-3'>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Result
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><button type="button" class="btn btn-secondary">
                            Decision Tree <span class="badge badge-light" id='dt'></span>
                            <span class="sr-only">unread messages</span>
                        </button></li>
                    <!-- <li class="list-group-item"><button type="button" class="btn btn-success">
                            Random Forest <span class="badge badge-light" id='rf'></span>
                            <span class="sr-only">unread messages</span>
                        </button></li> -->
                    <li class="list-group-item"><button type="button" class="btn btn-info">
                            SVC <span class="badge badge-light" id='svc'></span>
                            <span class="sr-only">unread messages</span>
                        </button>
                    </li>
                </ul>
            </div>

        </div>
    </div>







    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>



    <script>
        const canvas = document.querySelector('#draw');
        // could be 3d, if you want to make a video game
        const ctx = canvas.getContext('2d');
        canvas.width = 128;
        canvas.height = 128;


        ctx.lineJoin = 'round';
        ctx.lineCap = 'round';
        ctx.lineWidth = 4;
        ctx.strokeStyle = 'white';
        ctx.fillStyle = "black";
        ctx.fillRect(0, 0, 128, 128);

        let isDrawing = false;
        let lastX = 0;
        let lastY = 0;

        function draw(e) {
            // stop the function if they are not mouse down
            if (!isDrawing) return;
            //listen for mouse move event
            console.log(e);
            ctx.beginPath();
            ctx.moveTo(lastX, lastY);
            ctx.lineTo(e.offsetX, e.offsetY);
            ctx.stroke();
            [lastX, lastY] = [e.offsetX, e.offsetY];
        }

        canvas.addEventListener('mousedown', (e) => {
            isDrawing = true;
            [lastX, lastY] = [e.offsetX, e.offsetY];
        });

        canvas.addEventListener('mousemove', draw);
        canvas.addEventListener('mouseup', () => isDrawing = false);
        canvas.addEventListener('mouseout', () => isDrawing = false);


        document.getElementById("clearcanvas").onclick = function () {
            clear()
        };
        document.getElementById("predict").onclick = function () {
            save()

        };

        function clear() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.fillStyle = "black";
            ctx.fillRect(0, 0, 128, 128);
            document.getElementById("dt").innerHTML = null;
            document.getElementById("svc").innerHTML = null;
            // document.getElementById("rf").innerHTML = null;
        };

        function save() {
            var image = canvas.toDataURL("image/jpg")

            var entry = {
                name: "Louie"
            };

            fetch(`${window.origin}/predict`, {
                    method: "POST",
                    credentials: "include",
                    body: JSON.stringify(image),
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                })
                .then(function (response) {
                    response.json().then(function (data) {


                        console.log(data.data)
                        document.getElementById("dt").innerHTML = data.dt;
                        document.getElementById("svc").innerHTML = data.svc;
                        // document.getElementById("rf").innerHTML = data.rf;
                    })

                })
        };
    </script>
</body>

</html>
